<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.name %></title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <header>
      <span><a href="/">Home</a></span>
      <span>Welcome to User Diary</span>
      <span><a href="/users/new">Add New User</a></span>
    </header>
    <section>
      <div class="border">
        <span>Name:- <%= user.name %> </span>
        <span>Email:- <%= user.email %> </span>
        <span>Age:- <%= user.age %> </span>
        <span>Address:- <%= user.address %> </span>
        <span>Bio:- <%= user.bio %> </span>
        <span>Hobbies:- <%= user.hobbies %> </span>
        <span
          ><a href="/users/<%= user._id %>/edit">Edit</a>|
          <a href="/users/<%= user._id %>/delete">Delete</a></span
        >
      </div>
    </section>
  </body>
</html>
